/* Makes images fully responsive */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    width: 100%;
    height: auto;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 0;
    bottom: 138px;
}

.carousel-caption h1 {
    font-weight: 300;
    font-size: 3em;
    text-transform: uppercase;
    text-align: left;
}

.carousel-caption p {
    text-align: left;
}

.carousel-indicators {
    bottom: 0px;
}

.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    top: 50%
}

@media (min-width: 768px) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 20px;
    }
}



.carousel-control {
    text-shadow: none;
    opacity: 1 !important;
}

.carousel-control.left {
    background-image: none !important;
}

.carousel-control.right {
    background-image: none !important;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: 50%;
    color: #c52d2f;
    font-size: 30px;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: 50%;
    color: #c52d2f;
    font-size: 30px;
}

.carousel-indicators li {
    width: 18px;
    height: 18px;
    background-color: #fff;
    margin: 0 5px 0 0;
    position: relative;
    border: 1px solid #fff;
}

.carousel-indicators li:after {
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #FFF;
    left: -3px;
    top: -3px;
}

.carousel-indicators .active {
    width: 18px;
    height: 18px;
    background-color: #c52d2f;
    margin: 0 5px 0 0;
    border: 1px solid #c52d2f;
    position: relative;
}

.carousel-indicators .active:after {
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 100%;
    background: #c52d2f;
    border: 1px solid #c52d2f;
    left: -3px;
    top: -3px;
}


#myCarousel .active .animation.animated-item-1 {
    -webkit-animation: fadeInUp 300ms linear 300ms both;
    -moz-animation: fadeInUp 300ms linear 300ms both;
    -o-animation: fadeInUp 300ms linear 300ms both;
    -ms-animation: fadeInUp 300ms linear 300ms both;
    animation: fadeInUp 300ms linear 300ms both;
}

#myCarousel .active .animation.animated-item-2 {
    -webkit-animation: fadeInUp 300ms linear 600ms both;
    -moz-animation: fadeInUp 300ms linear 600ms both;
    -o-animation: fadeInUp 300ms linear 600ms both;
    -ms-animation: fadeInUp 300ms linear 600ms both;
    animation: fadeInUp 300ms linear 600ms both;
}

#myCarousel .active .animation.animated-item-3 {
    -webkit-animation: fadeInUp 300ms linear 900ms both;
    -moz-animation: fadeInUp 300ms linear 900ms both;
    -o-animation: fadeInUp 300ms linear 900ms both;
    -ms-animation: fadeInUp 300ms linear 900ms both;
    animation: fadeInUp 300ms linear 900ms both;
}

#myCarousel .active .animation.animated-item-4 {
    -webkit-animation: fadeInUp 300ms linear 1200ms both;
    -moz-animation: fadeInUp 300ms linear 1200ms both;
    -o-animation: fadeInUp 300ms linear 1200ms both;
    -ms-animation: fadeInUp 300ms linear 1200ms both;
    animation: fadeInUp 300ms linear 1200ms both;
}

/* jssor slider arrow navigator skin 05 css */

#slider1_container {
    position: relative;
    top: 0px;
    left: 0px;
    background: #ffffff;
    overflow: hidden;
}

.jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn {
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(../images/a17.png) no-repeat;
    overflow: hidden;
}

.jssora05l {
    background-position: -10px -40px;
}
.jssora05r {
    background-position: -70px -40px;
}
.jssora05l:hover {
    background-position: -130px -40px;
}
.jssora05r:hover {
    background-position: -190px -40px;
}
.jssora05ldn {
    background-position: -250px -40px;
}
.jssora05rdn {
    background-position: -310px -40px;
}

/* jssor slider thumbnail navigator skin 02 css */

.jssort02 .w {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.jssort02 .c {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 99px !important;
    height: 66px !important;
    display: block;
}

.jssort02 .p:hover .c, .jssort02 .pav:hover .c, .jssort02 .pav .c {
    cursor: pointer;
}

.item-galeria img {
    top: 0px !important;
}

.jssorb01 {
    position: absolute;
}

.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    filter: alpha(opacity=70);
    opacity: .7;
    overflow: hidden;
    cursor: pointer;
    border: #555555 1px solid;
}

.jssorb01 div {
    background-color: gray;
}

.jssorb01 div:hover, .jssorb01 .av:hover {
    background-color: #d3d3d3;
}

.jssorb01 .av {
    background-color: #fff;
}

.jssorb01 .dn, .jssorb01 .dn:hover {
    background-color: #555555;
}

/* OWL styles */
.owl-buttons {
    position: absolute;
    top: -40px;
    right: 10px;
}

.owl-buttons div {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-left: 5px;
    position: static;
    border-radius: 26px !important;
    text-indent: -100000px;
}

.owl-buttons .owl-prev {
    background: #c52d2f url(../images/fa-angles.png) no-repeat 8px -31px;
}

.owl-buttons .owl-next {
    background: #c52d2f url(../images/fa-angles.png) no-repeat 8px -31px;
}

.owl-buttons .owl-prev:hover {
    background: #c52d2f url(../images/fa-angles.png) no-repeat -33px -31px;
}

.owl-buttons .owl-next:hover {
    background: #c52d2f url(../images/fa-angles.png) no-repeat -33px -31px;
}

.brands .container {
    width: 100% !important;
}

/***
Brands
***/
.brands .container {
    padding-right: 0px;
    padding-left: 0px;
}

.brands .owl-carousel {
    /*margin-bottom: 41px;*/
    padding: 0 30px;
    background: #fff;
}

.brands .owl-buttons div {
    position: absolute;
    top: 50%;
    width: 26px;
    height: 26px;
    text-indent: -10000px;
    border-radius: 26px !important;
    display: block;
}

.brands .owl-buttons {
    position: static;
}

.brands .owl-buttons .owl-prev {
    left: 0;
    background: #c52d2f url(../images/fa-angles.png) no-repeat 8px -31px;
    margin-left: 0;
}

.brands .owl-buttons .owl-prev:hover {
    background: #c52d2f url(../images/fa-angles.png) no-repeat 8px -31px;
}

.brands .owl-buttons .owl-next {
    left: auto;
    right: 0;
    background: #c52d2f url(../images/fa-angles.png) no-repeat -33px -31px;
    margin-right: 0;
}

.brands .owl-buttons .owl-next:hover {
    background: #c52d2f url(../images/fa-angles.png) no-repeat -33px -31px;
}


/*
Vista movil
*/
@media (max-width: 768px) {

    .carousel-indicators {
        bottom: -10px;
    }

    .carousel .item {
        height: auto !important;
    }

    .carousel-caption {
        z-index: 0;
        bottom: 0;
        width: 60%;
        left: 20%;
    }

    .carousel-caption h1 {
        font-weight: 300;
        font-size: 1em;
    }

    .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
        margin-left: 10%;
    }

    .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
        margin-right: 10%;
    }
}